@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$btn-prm-color: white;
$btn-hvr-color: rgba(59, 230, 207, 0.514);


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 500px;
  margin: 0px auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(73, 73, 73, 0.459);
}

ul {
  list-style-type: none;
}
