$bg-color: white;

.todoList {
  background-color: $bg-color;
  padding: 10px;
  position: relative;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.todoList::-webkit-scrollbar {
  width: 7px;
}

.todoList::-webkit-scrollbar-track {
  background: rgb(233, 231, 232);
  border-radius: 5px;
}

.todoList::-webkit-scrollbar-thumb {
  background: rgb(175, 170, 170);
  border-radius: 5px;
}

.todoList::-webkit-scrollbar-thumb:hover {
  background: #8b8787;
  border-radius: 10px;
}

.todos {
  display: flex;
  justify-content: center;
}
