$bg-color: lightblue;

.todoName {
  width: 200px;
  margin-right: 1rem;
  padding: 5px;
  border: none;
  outline: none;
}
.todoForm {
  background-color: $bg-color;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
