$bg-color: white;

.todoMain {
  background-color: $bg-color;
  width: 430px;
  height: 40px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(73, 73, 73, 0.459);

  &:hover {
    transition-duration: 1300ms;
    transform: scale(1.05);
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.5;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  color: #50d2c1;
}
.title {
  flex-grow: 8;
  padding-left: 10px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.5;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
  color: rgb(255, 51, 102);
}
