$bg-color: rgb(202, 202, 202);

.todoName {
  width: 200px;
  margin-right: 1rem;
  padding: 5px;
  border: none;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(73, 73, 73, 0.459);
  transition-duration: 700ms;

  &:focus {
    transition-duration: 700ms;
    transform: scale(1.05);
  }
}
.todoForm {
  margin: 5px auto;
  width: 400px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.todoFormSub {
  margin: 0px auto;
  width: 400px;
  border: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(255, 51, 102);
  cursor: pointer;
  border: none;
  box-shadow: 0 3px 6px rgba(73, 73, 73, 0.459);
  transition-duration: 700ms;

  &:hover {
    transition-duration: 700ms;
    transform: scale(1.1);
  }
  &:disabled {
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(123, 120, 121);
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 6px rgba(73, 73, 73, 0.459);
    transition-duration: 700ms;
  }
}
