$bg-color: white;

.todo {
  background-color: $bg-color;
  width: 520px;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0px;
  display: flex;
  align-items: center;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
    border-color: hsl(0, 0%, 40%);
  }
}

.icons {
  width: 70px;
}

.checkbox {
  flex-grow: 0.3;
}

.checkbox > input {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  vertical-align: sub;
  cursor: pointer;
  &:checked {
    background-color: hsl(120, 68%, 64%);
    border-color: hsl(0, 0%, 40%);
  }
  &:focus,
  &:hover {
    box-shadow: 0 0 0 3px hsl(0, 0%, 85%);
    border-color: hsl(0, 0%, 40%);
  }
}

.title {
  flex-grow: 5;
}
.icon {
  flex-grow: 1;
  cursor: pointer;
  font-size: 19px;
}

.todo > p {
  margin-top: 5px;
}
