$bg-color: white;

.todoList {
  background-color: $bg-color;
  padding: 10px;
  position: relative;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-track {
    background: orange; /* color of the tracking area */
  }

  body::-webkit-scrollbar-thumb {
    background-color: blue; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid orange; /* creates padding around scroll thumb */
  }
}

.todos {
  display: flex;
  justify-content: center;
}
